[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.8"
python-docx = "*"
aiogram = {extras = ["contrib"], version = "*"}
forex-python = "*"
python-dateutil = "*"
docx2pdf = "*"
fpdf = "*"

[dev-packages]

[requires]
python_version = "3.11"
